img{
    max-width: 100%;
    background: lightblue;
    background: radial-gradient(white 30%, lightblue 70%);
}

.fa-star,
.fa-star-half{
    color: yellowgreen;
    padding: 3% 0;
}



.shopping-cart{
    padding: 3% 0;
}

.cart-items + .cart-items{
    padding: 2% 0;
}

.price-details h6{
    padding: 3% 2%;
}
.card-body{
    margin-bottom: 30px !important;
}
.btn{
    
  display: inline-block;
  border: solid black;
  border-radius: 30px;
  background-color: #ff523b;
  margin: 30px 0px;
  padding: 8px 30px;
  color: #fff;
}
.heading {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: black;
    color: white;
  }
  .container{
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    margin-bottom: 50px;
}



  .box {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }

  .product,
  h4,
  p,
  .rating {
    text-align: center;
  }
  .btn:hover {
    background-color: darkgreen;
  }
  h1 {
    text-align: center;
    height: 80px;
    width: 400px;
    border: solid black;
    margin: 10px;
    padding: 10px;
    color: white;
  }

  #heading h1 {
    height: 130px;
  }
  


  