img {
  max-width: 100%;
}
.box-cart img {
  max-width: 300px;
}

.fa-star,
.fa-star-half {
  color: yellowgreen;
  padding: 3% 0;
}

.cart-items + .cart-items {
  padding: 2% 0;
}

.price-details h6 {
  padding: 3% 2%;
}
.card-body {
  margin-bottom: 30px !important;
}
.btn {
  display: inline-block;
  border: solid black;
  border-radius: 30px;
  background-color: #ff523b;
  margin: 30px 0px;
  padding: 8px 30px;
  color: #fff;
}
.heading-section {
  display: flex;
  justify-content: center;
  margin: 20px;
  background-color: black;
  color: white;
}
.section-container {
  height: auto;
  display: flex;
  margin: 30px 20px 50px 20px;
  flex-wrap: wrap;
  font-size: 1.5em;
  justify-content: space-between;
  min-height: 510px;
}
.heading-section h1 {
  margin: 20px auto;
}

.box {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
  margin-bottom: 50px;
  overflow: hidden;
  border-radius: 2%;
  width: 250px;
}
.box-cart {
  width: auto;
}
.box-container {
  width: 250px;
  margin: 0px 20px;
}
.product,
h4,
.products p,
.rating {
  text-align: center;
}
.btn:hover {
  background-color: darkgreen;
}

#heading h1 {
  height: 130px;
}

.price-container {
  background-color: rgb(197, 255, 233);
  margin: 20px 0px;
  padding: 10px 20px;
  border-radius: 2%;
  text-align: center;
}
.price-container h6 {
  font-weight: bold;
}
.price-container h5 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(62, 195, 246);
  border-radius: 10%;
}
.price-container h6:last-child {
  padding-top: 10px;
  border-top: 3px solid rgb(62, 195, 246);
  border-radius: 10%;
}

.box-cart div {
  text-align: start;
}

.no-results {
  text-align: center;
  width: 100%;
}
.cart-container {
  min-height: 685px;
}
